<%= error_messages_for 'relation' %>

<p><%= f.select :relation_type, collection_for_relation_type_select, {}, :onchange => "setPredecessorFieldsVisibility();" %>
<%= l(:label_issue) %> #<%= f.text_field :issue_to_id, :size => 6 %>
<span id="predecessor_fields" style="display:none;">
<%= l(:field_delay) %>: <%= f.text_field :delay, :size => 3 %> <%= l(:label_day_plural) %>
</span>
<%= submit_tag l(:button_add) %>
<%= toggle_link l(:button_cancel), 'new-relation-form'%>
<a title="In case of duplicates, this will trigger the WEACE process named Ticket_CloseDuplicate. Click for explanations." href="%{WEACEMasterInfoURL}#Redmine.TicketTracker.Ticket_CloseDuplicate"><img src="http://weacemethod.sourceforge.net/wiki/images/1/1e/MasterIcon.png" alt="In case of duplicates, this will trigger the WEACE process named Ticket_CloseDuplicate. Click for explanations."/></a>
</p>

<%= javascript_tag "setPredecessorFieldsVisibility();" %>
