# Config.rb
#
# This file contains the configuration of the WEACE Slave Client

module WEACE

  module Slave

    # Here are the following than can be used to set the configuration:
    # Check help in WEACESlaveClient.rb to know about the different possible values.
    #
    # Parameters:
    # * *ioConfig* (_Config_): The configuration to set
    def self.getWEACESlaveClientConfig(ioConfig)
      ioConfig.addWEACESlaveAdapter(
        Product_Mediawiki,
        Tools_Wiki,
        '/home/groups/m/my/myproject/htdocs/wiki'
      )
      ioConfig.addWEACESlaveAdapter(
        Product_Redmine,
        Tools_TicketTracker,
        'mysql-r',
        'redminedb',
        'dbuser',
        'dbpassword'
      )
      ioConfig.LogFile = '/home/groups/m/my/myproject/persistent/tmp/WEACESlaveClient.log'
    end
    
  end
  
end
